.jumbotron {
    background-image: url("/static/images/jumbotron.jpg");
    background-size: cover;
    color: #FFFFFF;
}

.jumbo-text {
    padding-left: 40px;
}

.jumbo-subtext {
    padding-left: 80px;
}

.front-consoles {
}
.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}