{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="py-5 row text-center">
            <div class="col-md-12">
                <h2 class="display-4">{{ console.console_name }}</h2>
                <p class="lead">
                    {{ console.console_short_description }}
                </p>
            </div>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'consoles_index' %}">Consoles</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ console.console_name }}</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <img src="{{ console.consoleimage_set.first.console_image_image }}" alt="main-product-image" class="img-fluid col-sm-4">
            <div class="col-sm-8">
                <h2>{{ console.console_name }}</h2>
                <hr>
                <p>{{ console.console_long_description }}</p>
                <hr>
                <ul class="list-unstyled">
                    <li>Manufacturer: {{ console.console_manufacturer }}</li>
                    <li>Console Type: {{ console.console_category }}</li>
                    <li>Price: {{ console.console_price }}</li>
                    <hr>
                    <li>{% include 'consoles/update_cart.html' with console=console cart=cart %}</li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}