{% extends 'base.html' %}
{% block content %}
    {% include 'consoles/showcase.html' %}
    <div class="container">
        <div class="row">
            {% if console %}
                {% for con in console %}
                    {% include 'consoles/single_console.html' with console=con %}
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>No consoles available for sale</p>
                </div>
            {% endif %}
        </div>
        {% include 'consoles/paginator.html' %}
    </div>
{% endblock %}
